:root {
  --primary: #0d631b;
  --primary-dark: #094a14;
  --secondary: #bb4d00;
  --secondary-dark: #964003;
  --background: #f8faf8;
  --text: #191c1b;
  --white: #ffffff;
  --gray: #e5e7eb;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: var(--background);
  color: var(--text);
}

h1{
  font-size: x-large;
  font-weight: bolder;
}

h2{
  font-size: larger;
  font-weight: bold;
}
h3{
  font-size: large;
  font-weight: 600;
}
p{
  font-weight: 400;
  font-size: medium;
}
